<h3 class="ng-scope">Comentarii</h3>

<div class="container-fluid subscribes" ng-controller='CommentController'>
    

	<div class="panel panel-default">
		<div class="panel-body">


                        
	<div ui-grid="gridOptions" class="table-uigrid subscribe-table"  style="clear: both;" ui-grid-pagination>   
        </div>	

                        <div class="edit-testimonial" style="display:none">
                            <form class="form-horizontal" ng-submit="saveChanges()">
                                <input type="hidden" ng-model="edit_data.id">
                               
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Denumirea Articol</label>
                                    <div class="col-md-8">
                                        <input type="text" placeholder="Name" class="form-control" name="firstName" ng-model="edit_data.title" required>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Conținut</label>
                                    <div class="col-md-8">
<!--                                        <textarea class="form-control" style="height: 300px;"  ng-model="edit_data.content" required></textarea>-->
                                   <div text-angular="text-angular" ng-model="edit_data.content" name="article-content" placeholder="Conținutul articolului..." class="btn-group-small" required></div>

                                    </div>
                                </div>
                           
                               
                                
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Imaginea</label>
                                    <div class="col-md-2">
                                        <img class="img-responsive img-circle" ng-src="{{uploads_folder+edit_data.img}}">
                                        <input type="file" name="photo"  onchange="angular.element(this).scope().uploadFile(this.files)"> 
                                    </div>
                                </div>
                                
                                     
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Tags</label>
                                    <div class="col-md-8">
                                        <input type="text" placeholder="Tag-uri despărțite prin virgulă(,)" class="form-control" name="firstName" ng-model="edit_data.tags" required>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-xs-12 text-right">
                                        <button type="submit" class="btn btn-primary" ng-click="updateBlog()" ng-disabled="">Save</button>
                                        <a ng-click="cancelEdit()" title="Cancel" class="btn btn-sm btn-danger">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>	

<!--                        <div class="new-testimonial" style="display:none">
                            <form class="form-horizontal" >
                                
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Denumirea</label>
                                        <div class="col-md-8 col-md-offset-4">
                                            <input type="text"  class="form-control" name="position" ng-model="insert.title" required>
                                        </div>
                                    </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Conținut</label>
                                    <div class="col-md-8">
                                   <div text-angular="text-angular" ng-model="insert.content" name="article-content" placeholder="Conținutul articolului..." class="btn-group-small" required></div>

                                        <textarea class="form-control" style="height:300px;"  ng-model="" required></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Position</label>
                                    <div class="col-md-8">
                                        <input type="number" class="form-control" ng-model="insert.position">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Imaginea</label>
                                    <div class="col-md-2">
                                        <img class="img-responsive img-circle" ng-src="{{uploads_folder+insert.img}}">
                                        <input type="file" name="photo"  onchange="angular.element(this).scope().uploadFile(this.files)"> 
                                    </div>
                                </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Tags</label>
                                <div class="col-md-8">
                                    <input type="text" placeholder="Tag-uri despărțite prin virgulă(,)" class="form-control" name="firstName" ng-model="insert.tags" required>
                                </div>
                            </div>

                                <div class="form-group">
                                    <div class="col-xs-12 text-right">
                                        <button type="submit" class="btn btn-primary" ng-click="insertBlog()" ng-disabled="">Save</button>
                                        <a ng-click="cancelInsert()" title="Cancel" class="btn btn-sm btn-danger">
                                            Cancel
                                        </a>
                                    </div>
                                </div>          


                            </form>
                        </div>	-->

		</div>
	</div>
</div>