<ion-view>
	<ion-nav-title></ion-nav-title>
    <ion-nav-buttons side="left">
      	<button class="button button-clear back-button" ng-click="goBack()"><i class="ion-arrow-left-c"></i> <span>înapoi</span></button>
    </ion-nav-buttons>

    <ion-content class="has-header">
    	<div class="card">
		  	<div class="item item-text-wrap">
		    	<p>Official Alert este aplicația care permite utilizatorilor să primească notificări atunci când sunt actualizate paginile web ale instituțiilor oficiale: ministere, agenții etc.</p><br>

		    	<p>Scopul aplicației este de a facilita munca jurnaliștilor și, totodată, de a spori accesul cetățenilor la informația oficială.</p><br>

		    	<p>Un alt obiectiv este creșterea gradului de informare a publicului larg privind activitățile, rapoartele, proiectele legislative şi, implicit, sporirea interesului asupra transparenței decizionale.</p><br>

		    	<p>Publicul țintă al aplicației sunt jurnaliștii. Totodată, aplicația este disponibilă publicului larg, întrucât orice persoană care utilizează produsul este informat din prima sursă privitor la activitatea instituțiilor guvernamentale.</p><br>

		    	<p>Proiectul Official Alert este proprietatea Asociației Jurnaliștilor de Mediu și Turism Ecologic din Republica Moldova (AJMTEM).</p><br>

		    	<p>Realizarea proiectului Official Alert a fost posibilă datorită unui grant câştigat în cadrul primului hackathon de jurnalism civic din R. Moldova „Puterea a cincea”, organizat de Centrul pentru Jurnalism Independent din Republica Moldova și Internews.</p><br>

		    	<p>Proiect cofinanțat de Programul „Consolidarea guvernării ecologice prin formarea capacităților organizațiilor non-guvernamentale (ONG)”, finanțat de Uniunea Europeană, implementat de Programul Națiunilor Unite pentru Dezvoltare (PNUD) și livrat de Programul de Granturi Mici al Fondului Global de Mediu”.</p>
		    </div>
		</div>
    </ion-content>
</ion-view>
