
/* ==========================================================================
   Fonts
   ========================================================================== */


@font-face {
	font-family:'MyriadPro-Regular';
	src: url('../font/MyriadPro-Regular.otf');
	src: url('../font/MyriadPro-Regular.otf') format('embedded-opentype'),
	url('../font/MyriadPro-Regular.woff') format('woff'),
	url('../font/MyriadPro-Regular.ttf') format('truetype'),
	url('../font/MyriadPro-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2116;
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
	vertical-align: middle;
	max-width: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}
body{
	margin:0px;
	background: #fff;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, html {
	height: 100%;
}

.wrapper {
	    background-color: #fff;
	position: relative;
	z-index: 999;
}

.owl-carousel .owl-stage-outer {
	z-index: 99;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

.search-bl {
	/*transition: all 1s ease;*/
    display: none;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.search-bl input {
	width: 100%;
    margin: 0 auto;
    display: block;
    height: 55px;
    padding: 10px;
    font: 30px 'MyriadPro-Regular';
    position: relative;
    border: 2px solid #444;
    border-radius: 5px;
}

.search-bl input:focus {
	outline: 0;
}

.search-bl .fa-search {
	color: red;
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(0%, -50%);
}

.search-bl .s-in {
	float: none;
	margin: auto;
}

.search-bl ::-webkit-input-placeholder {
   color: red;
}

.search-bl :-moz-placeholder { /* Firefox 18- */
   color: red;  
}

.search-bl ::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

.search-bl :-ms-input-placeholder {  
   color: red;  
}


.st-section {
	width: 100%;
	height: 100%;
	background: url(../img/main-bg.jpg) no-repeat;
	background-size: cover;
}

.st-section header {
	margin-bottom: 200px;
	margin-top: 10px;
}

.st-section header .logo {
	max-width: 300px;
}    

.st-section header .navigation {
	padding-top: 48px;
	text-align: center;
}

.st-section header .navigation a {
	display: inline-block;
    font: 24px 'Roboto';
    font-weight: 700;
    color: #fff;
}

.st-section header .navigation a:hover {
	text-decoration: none;
}

.st-section header .navigation a:first-child {
	padding-right: 20px;
}

.st-section header .navigation .search-btn {
	margin-left: 30px;
	font-size: 26px;
    font-weight: 200;
}

.st-section header .navigation .fb-btn {
    font-size: 30px;
    color: #3a5795;
    margin-left: 15px;
}

.st-section .section-heading {
	color: #fff;	
}

.section-heading .main-head {
	font: 48px 'Roboto';
	font-weight: 700;
	text-shadow: 2px 3px 5px #000;
}

.section-heading .main-descr {
	font: 30px 'Roboto';
	font-weight: 300;
	text-shadow: 2px 3px 5px #000;	
    margin-top: 50px;
    margin-bottom: 60px;	
}

.st-section .store {
    margin-bottom: 150px;
}

.st-section .store a {
	display: inline-block;
	max-width: 260px;
	margin: 0 20px;
}

.categories {
	font-family: 'Roboto';
	padding: 70px 0;
	border-bottom: 1px solid #9aa3ae;
}

.categories .item {
	width: 100%;
}

.categories .owl-carousel .owl-stage {
	margin: auto;
}

.categories .owl-carousel .owl-controls {
	position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    height: 65px;
}

.categories .owl-carousel .owl-controls .owl-nav .owl-prev, 
.categories .owl-carousel .owl-controls .owl-nav .owl-next, 
.categories .owl-carousel .owl-controls .owl-dot {
	position: absolute;
	background: url(../img/slider-arrows.png) no-repeat 0 0;
	width: 36px;
	height: 65px;
	font-size: 0px;
}

.categories .owl-carousel .owl-controls .owl-nav .owl-next {
	right: -40px;
	background-position: -102px;
}

.categories .owl-carousel .owl-controls .owl-nav .owl-prev {
	left: -70px;
}

.categories .cat-head {
	font-size: 30px;
    color: #444;
}

.categories .cat-content {
	margin-bottom: 20px;
}

.categories .cat-content .date {
	color: #c12e1e;
    font-size: 15px;
}

.categories .cat-content .text {
	color: #999;
}

.subscribe {
	padding: 70px 0;
	background: #f3f3f3;
	border-bottom: 1px solid red;
}

.subscribe .heading {
	position: relative;
	padding-bottom: 35px;
	margin-bottom: 70px;
}

.subscribe .heading .red-bord {
	height: 4px;
	width: 30%;
	background: #c12e1e;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
}

.subscribe .heading h3, .subscribe .heading h5 {
	font: 48px 'MyriadPro-Regular';
    color: #444;
    margin: 0;
    font-weight: 800;	
}

.subscribe .heading h5 {
	font-size: 36px;
	padding-top: 20px;
	font-weight: normal;
}

.institution-list {
	margin-bottom: 100px;
}

.institution-list .checkbox-itm {
	margin: 10px 0;
}

.subscribe input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

.subscribe input[type=checkbox].css-checkbox + label.css-label {
	padding-left:35px;
	/*height:21px; */
	display:inline-block;
	line-height:21px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font: 18px 'Roboto';
	vertical-align:middle;
	cursor:pointer;
	position: relative;
}

.subscribe input[type=checkbox].css-checkbox:checked + label.css-label::before {
	background-position: -52px 0;
}

.subscribe label.css-label::before {
	content: '';
	width: 30px;
    height: 21px;
    position: absolute;
    left: 0;
	background-image:url(../img/check.png);
	background-repeat: no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.subscribe-email h3 {
    font: 30px 'Roboto';
    font-weight: 700;
    margin-bottom: 40px;
}

.subscribe-email input {
    width: 50%;
    border: 2px solid #444;
    border-radius: 5px;
    padding: 10px;	
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.subscribe-email input:focus {
	outline: 0;
}

.subscribe-email a {
	font: 24px 'Roboto';
    font-weight: 700;
    border: 2px solid #444;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #444;
    margin-left: -8px;
    vertical-align: bottom;
}

.subscribe-email a:hover {
	background: #444;
	color: #fff;
}

.interlude-head {
	padding: 30px 0;
    font: 48px 'Roboto';
    font-weight: 700;
    background-color: #000;
    margin: 0;
    color: #fff;
    line-height: 40px;
}

.no-padding {
	padding: 0;
}

.about-us {
	margin-top: 20px;
	margin-bottom: 20px;
}

.about-us .about-in {

}

.about-us .about-in .image {
	float: right;
}

.about-us .about-in .text {
	float: left;
}

.about-us .about-in p {
    font: 22px 'Roboto';
    color: #444;
    line-height: 30px;
}

.about-us .about-in p b {
	font-weight: 700;
}

footer {
	background: url(../img/footer-bg.jpg) no-repeat 0 0;
	background-size: cover;
	padding: 50px 0 30px;
	font-family: 'Roboto';
    color: #fff;
}

.responsive-bl {
	/*float: none;*/
	display: inline-block;
}

footer img {
	max-width: 230px;
}

footer ul {
	list-style-type: none;
}

footer ul b {
	font-size: 24px ;
    font-weight: 700;
    color: #fff;
    margin-bottom: 16px;
    display: block;
}

footer ul li {
	color: #A7A7A7;
	font-size: 18px;
    line-height: 22px;
    font-weight: 200;
}

footer .f-logo {
	margin-bottom: 20px;
}

footer .f-stores {
	margin-top: 40px;
}

footer .f-stores img {
	display: inline-block;
	margin: 10px;
}

footer .copyright {
	padding-top: 70px;
	font: 18px 'MyriadPro-Regular';
}

footer .copyright p {
	position: relative;
	padding-top: 25px;
}

footer .copyright p::before {
	content: "";
	width: 50%;
	height: 1px;
	background: red;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

@media screen and (max-width: 991px) {
	#events .img-responsive {
		max-width: 160px;
		margin: 30px auto;
	}
}
@media screen and (max-width: 989px) {

	.categories .owl-carousel .owl-controls {
		top: 110%;
	}

	.categories .owl-carousel .owl-controls .owl-nav .owl-next {
		    right: 0px;
	}

	.categories .owl-carousel .owl-controls .owl-nav .owl-prev {
		right: 60px;
		left: inherit;
	}

	.st-section .store {
		margin-bottom: 30px;
	}

	.st-section .store a {
		margin-bottom: 20px;
	}

	.subscribe .heading .red-bord {
		width: 70%;
	}

	.about-us .about-in .image {
		float: none;
	}

	footer ul {
		margin-bottom: 20px;
	}

	.responsive-bl {
		float: none;
		display: inline-block;
		    vertical-align: top;
	}
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links for images, or javascript/internal links
     */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

/*main{
	max-width:1600px;
	margin:0 auto;
}*/
/*header{
	max-width:1150px;
	margin:0 auto;
}
header > img{
	margin-right:20px;
}
header a:first-child{
	border-right:2px solid #c12e1e;
}
header a{
	display: inline-block;
	color:#c12e1e;
	font:24px 'MyriadPro-Regular';
	padding:0px 20px;
}*/
header .form-group {
	float: right;
}
.navbar-default .navbar-nav > li > a .fa{
	font-size:26px;
	color:#3B579D;
}

