<main class="home" ng-controller="AppController">

	<header>
		<img src="/public/frontend/assets/img/logo-big.png" alt="Official Alert">
		<a href="#">Subscribe</a>
		<a href="#">Despre noi</a>
		<div class="form-group

		">
			<input type="text" placeholder="C?utare pe Ecopresa.md...">
			<input type="submit" placeholder="Search">
		</div>
	</header>

	<h1>Lorem ipsum dolor sit amet</h1>

	<h1>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</h1>


	
</main>